body {
    font-family: Arial;
    background: #f3f3f3;
}

.container {
    width: 400px;
    margin: 50px auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.card {
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}

.logout {
    float: right;
    text-decoration: none;
    background: #c0392b;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
}

.error {
    color: red;
}
